<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xiaobage.warning.domain.warning.repository.mapper.InventoryWarningConfigurationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.xiaobage.warning.domain.warning.repository.po.InventoryWarningConfigurationPO">
        <id column="inventory_id" property="inventoryId" />
        <result column="minimum_inventory" property="minimumInventory" />
        <result column="maximum_inventory" property="maximumInventory" />
        <result column="units" property="units" />
        <result column="warning_person" property="warningPerson" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        inventory_id, minimum_inventory, maximum_inventory, units, warning_person, create_time, update_time
    </sql>

</mapper>
